:root {
    --color-1: white;
    --color-2: rgb(8, 38, 68);
    --color-3: rgb(252, 222, 190);
    --color-4: rgb(244, 96, 54);
    --color-5: rgb(175, 18, 90);
    --rot-1: 0deg;
    --rot-2: 0deg;
    --rot-3: 0deg;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nanum Gothic Coding", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;
    color: var(--color-2);
    text-shadow: 1px 1px 2px var(--color-2);
    line-height: 1.2;
}

h1 {
    height: 1.3em;
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

h3 {
    color: var(--color-4);
}

a, button {
    padding: 10px;
    border: 5px solid var(--color-4);
    color: var(--color-4);
    border-radius: 10px;
    text-decoration: none;
    background-color: white;
    transition: .1s;
    font-family: "Nanum Gothic Coding", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    text-shadow: 1px 1px 2px var(--color-2);
    cursor: pointer;
}

a:hover, button:hover {
    color: var(--color-5);
    border-color: var(--color-5);
}

a:active, button:active {
    color: var(--color-4);
    border-color: var(--color-4);
}

form {
    margin-top: 50px;
}

form * {
    display: block;
    margin-top: 20px;
}

input, textarea {
    font-family: "Nanum Gothic Coding", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    padding: 10px;
    max-width: 100%;
}

header {
    width: 100%;
    min-height: 90vh;
    text-align: right;
    padding-top: 15vh;
    opacity: 0;
    transition: all 1s linear;
}

footer {
    width: 100%;
    min-height: 100vh;
    padding-top: 8vh;
}

section {
    position: relative;
    width: 100%;
    min-height: 160vh;
    padding-top: 8vh;
}

section .background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    z-index: -1;
    transition: all 1s linear;
}

section.primary .background {
    background-color: var(--color-3);
    transform: skewY(var(--rot-1));
}

section.primary h5 {
    color: var(--color-4)
}

section.secondary {
    margin-top: -20vw;
    color: var(--color-1);
}

section.secondary h2 {
    text-align: right;
}

section.secondary .background {
    background-color: var(--color-4);
    transform: skewY(var(--rot-2));
}

section.secondary h5 {
    color: var(--color-2)
}

section.tertiary {
    margin-top: -20vw;
    color: var(--color-1);
    min-height: 60vh;
}

section.tertiary .background {
    background-color: var(--color-5);
    transform: skewY(var(--rot-3));
}

section.tertiary h5 {
    color: var(--color-4)
}

.container {
    width: 100vw;
    min-width: 250px;
    max-width: 960px;
    margin: auto;
    padding: 40px;
}

section .container {
    padding-bottom: 30vw;
}

section.tertiary .container {
    padding-bottom: 20vw;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.box, .img-box {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    text-wrap: balance;
    overflow-wrap: anywhere;
    min-height: 170px;
    border: 0;
}

.box:hover, .img-box:hover {
    transform: scale(1.05);
}

.box span {
    font-size: .7em;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.box p, .img-box span {
    color: var(--color-2);
    font-size: .6em;
    text-shadow: none;
    margin-top: 10px;
}

.img-box {
    color: var(--color-1);
    background-size: cover !important;
    padding: 5px;
}

.img-box span {
    color: var(--color-1) !important;
    background: rgba(0, 0, 0, 0.6);
    padding: 8px;
    border-radius: 4px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.mt-5 {
    margin-top: 5vh;
}

.mt-10 {
    margin-top: 10vh;
}

.mt-25 {
    margin-top: 25vh;
}

.hide {
    display: none;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 20pt;
    }

    section {
        min-height: 120vh;
    }
}